@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    height: 100vh;
    font-family: Poppins;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 70vh;
    border: 2px solid #4dbac9;
    border-radius: 10px;
}
form {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 50vh;
}
input,
p {
    border: none;
    height: 40px;
    width: 55%;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 2px 0 #4d4c4c;
    padding: 0 5px;
}
input{
    width: 54%;
}
input:focus{
    padding: 0 5px;
    outline: none;
}
.pilih {
    width: 60%;
    display: flex;
}
label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
select{
    border: none;
    height: 40px;
    width: 90%;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 2px 0 #4d4c4c;
    padding: 0 5px;
}
button {
    border: none;
    background-color: #4dbac9;
    color: #fff;
    padding: 10px 30px;
    border-radius: 5px;
}
button:hover{
    background-color: #44a9b6;
    cursor: pointer;
    transition: .3s;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    text-align: center;
    background-color: #44a9b6;
    width: 100%;
    border-radius: 0;
    color: #fff;
    font-family: Poppins;
    font-size: 14px;
}
footer {
    margin-bottom: -20px;
}